doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/reset.css")
    link(rel="stylesheet", href="main.min.css")
    title Konstrukt
  body 
    .wrapper
      section.wrapper__mainBlock.mainBlock
        .mainBlock__content._container 
          .mainBlock__body 
            img.mainBlock__logo(src="./img/mainBlock/logo.svg", alt="logo")
            .mainBlock__mainContent 
              h1.mainBlock__title PARTNER WITH KONSTUCT
              .mainBlock__text An award-winning construction management firm
            .mainBlock__footer SCROLL DOWN
        img.mainBlock__cover._ibg(src="./img/cover.png", alt="cover")
      header.wrapper__header.header 
        .header__content._container 
          img.header__logo(src="./img/header/logo.svg", alt="logo")
          nav.header__menu
            ul.header__list
              li.header__item
                a.header__link(href="#") HOME
              li.header__item.header__item--active
                a.header__link(href="#") ABOUT
              li.header__item
                a.header__link(href="#") SERVICES
              li.header__item
                a.header__link(href="#") WORK
              li.header__item
                a.header__link(href="#") CONTACT
      section.wrapper__about.about
        .about__content._container 
          .about__blockHeader.blockHeader
            h2.blockHeader__title OUR STORY
            .blockHeader__line
          .about__body 
            .about__discription 
              .about__title Founded in 2011 by John Mathew Smith, #[span Konstruct] has become the number one construction management firm
              .about__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
            .about__features
              .about__feature.feature
                .feature__text WE#[br] PLAN
                img.feature__cover._ibg(src="./img/features/1.jpg", alt="")
              .about__feature.feature
                .feature__text WE#[br] MANAGE
                img.feature__cover._ibg(src="./img/features/2.jpg", alt="")
              .about__feature.feature
                .feature__text WE#[br] BUILD
                img.feature__cover._ibg(src="./img/features/3.jpg", alt="")
      section.wrapper__services.services 
        .services__content._container
          .services__discription 
            .services__blockHeader.blockHeader.blockHeader--left 
              .blockHeader__title OUR CAPABILITIES
              .blockHeader__line
            .services__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
            a.services__button.button.button--services ALL SERVICES
          .services__body 
            .services__service.service
              img.service__image(src="./img/services/1.png", alt="serviceImage1")
              .service__title PROJECT AND CONSTRUCTION MANAGEMENT
              .service__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
            .services__service.service
              img.service__image(src="./img/services/2.png", alt="serviceImage2")
              .service__title STRUCTURE AUDIT AND MAINTENANCE
              .service__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
            .services__service.service
              img.service__image(src="./img/services/3.png", alt="service1Image3")
              .service__title FACTORY CONSTRUCTION AND MODELING
              .service__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
      section.wrapper__getInTouch.getInTouch
        .getInTouch__content._container
          .getInTouch__body
            h2.getInTouch__title Want to build something amazing?
            a.getInTouch__button.button.button--getInTouch GET IN TOUCH
        img.getInTouch__cover._ibg(src="./img/getInTouch/cover.png", alt="background")
      section.wrapper__letter.letter 
        .letter__content._container 
          form.letter__form(action="")
            .letter__title Newsletter Signup
            input.letter__input(type="text", placeholder="test@youremail.com")
            button.letter__button.button SIGNUP
      footer.wrapper__footer.footer 
          section.footer__info
            .footer__content._container
              .footer__discription 
                h3.footer__title COMPANY
                img.footer__logo(src="./img/mainBlock/logo.svg", alt="logo")
                .footer__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
              .footer__lists
                h3.footer__title LINKS
                .footer__listsBody
                  ul.footer__list
                    li.footer__item
                      a.footer__link(href="") HOME
                    li.footer__item
                      a.footer__link(href="") ABOUT
                    li.footer__item
                      a.footer__link(href="") SERVICES
                    li.footer__item
                      a.footer__link(href="") PROJECTS
                    li.footer__item
                      a.footer__link(href="") CONTACT US
                  ul.footer__list
                    li.footer__item
                      a.footer__link(href="") FAQ
                    li.footer__item
                      a.footer__link(href="") TERMS
                    li.footer__item
                      a.footer__link(href="") CAREERS
                  ul.footer__list
                    li.footer__item
                      a.footer__link(href="") BLOG
                    li.footer__item
                      a.footer__link(href="") PARTNERS
                    li.footer__item
                      a.footer__link(href="") NEWS
              .footer__contacts
                h3.footer__title CONTACT US
                ul.footer__contactsList
                  li.footer__contactsItem 213 Baker Street Oriel City Kounty 7000 KNW, Kountry Name
                  li.footer__contactsItem
                    a.footer__link(href="tel:+239942334022")  +23 994 233 4022
                  li.footer__contactsItem
                    a.footer__link(href="mailto:info@konstruct.com")  info@konstruct.com
              ul.footer__social 
                li.footer__socialItem
                  a.socialLink(href="") 
                    img.footer__socialImage(src="./img/social/fb.png", alt="")
                li.footer__socialItem
                  a.socialLink(href="") 
                    img.footer__socialImage(src="./img/social/tw.png", alt="")
                li.footer__socialItem
                  a.socialLink(href="") 
                    img.footer__socialImage(src="./img/social/google.png", alt="")
          section.footer__copyright
            .footer__copyrightContant._container
              .footer__copyrightText © 2017 Konstruct Inc. Designed by Jane Kathryn Teo
  script(src="main.js")