doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/reset.css")
    link(rel="stylesheet", href="main.min.css")
    title Konstrukt
  body 
    .wrapper
      section.wrapper__mainBlock.mainBlock
        .mainBlock__content._container 
          .mainBlock__body 
            img.mainBlock__logo(src="./img/mainBlock/logo.svg", alt="logo")
            .mainBlock__mainContent 
              h1.mainBlock__title PARTNER WITH KONSTUCT
              .mainBlock__text An award-winning construction management firm
            .mainBlock__footer SCROLL DOWN
        img.mainBlock__cover._ibg(src="./img/cover.png", alt="cover")